# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# Environment Variables
.env
.venv
test_venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store
.ipynb_checkpoints

# Logs
logs/
*.log

# Model files
models/

# Database
*.sqlite3
*.db
*.psql

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/

# Mac
.DS_Store

# Docker
docker-data/
